page-tabs {
  font-family: 'Roboto-Regular';
  background-color: #eeecec;

  .tabs .tabbar {
    // background-image: linear-gradient(to right bottom, #fcfdff, #e0f4ff, #b6eeff, #7deaff, #00e5fb);
    // background-image: linear-gradient(to right top, #c5ccd8, #b1cde5, #92d0ef, #66d4f1, #12d8eb);
  }

  .tab-button-text {
      font-family: 'OpenSans-Regular_1' !important;
  }
}
